<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>微称管理平台</title>
	<link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css"/>
	<link rel="stylesheet" type="text/css" href="easyui/demo/demo.css"/>
	<link rel="stylesheet" type="text/css" href="css/custom/layout.css"/>
	<script type="text/javascript" src="easyui/jquery.min.js"></script>
	<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="defined/defined_layout.js"></script>
</head>
<body class="easyui-layout">
	<div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;padding:10px">
		<span class="font-size-title">微称管理平台</span>
	</div>
	<div data-options="region:'west',split:true" title="导航菜单" style="width:150px;padding:10px;">
		<div class="easyui-accordion" data-options="fit:true,border:false">
			<div title="会员管理"  style="padding:10px;">
				<div><a href="#" onclick="addTab('消费用户管理','http://www.baidu.com')">消费用户管理</a></div>
			</div>
			<div title="商城配置" style="padding:10px;">
				<div><a href="#" onclick="addTab('订单管理','')">订单管理</a></div>
				<div><a href="#" onclick="addTab('专题管理','')">专题管理</a></div>
			</div>
			<div title="商品管理" style="padding:10px;">
				<div><a href="#" onclick="addTab('商品管理','')">商品管理</a></div>
			</div>
			<div title="系统管理" style="padding:10px">
				<div><a href="#" onclick="addTab('用户管理','')">用户管理</a></div>
				<div><a href="#" onclick="addTab('角色管理','')">角色管理</a></div>
				<div><a href="#" onclick="addTab('权限管理','')">权限管理</a></div>
				<div><a href="#" onclick="addTab('日志管理','')">日志管理</a></div>
			</div>
			<div title="短信服务平台" data-options="selected:true" style="padding:10px">
				<div><a href="#" onclick="addTab('用户记录','../listPager.html')">用户记录</a></div>
				<div><a href="#" onclick="addTab('短信设置','../smsTempletList.html')">短信设置</a></div>
			</div>
		</div>
	</div>
	<div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">east region</div>
	<div data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">
		<div class="div_bottom">
			<span>记得点赞</span>
		</div>
	</div>
	<div data-options="region:'center'" title="平台管理">
		<div id="content" class="easyui-tabs" data-options="fit:true,border:false,plain:true">
			<div title="首页" data-options="" style="padding:10px">
				<div class="center_div">
					<h2>让我一起改变移动电商</h2>
					<h5>
						无论在哪里，我都会向以上上帝的名义发誓，我会用自己双手努力去工作；如果我找不到工作，那我会自己创造一份工作。
					</h5>
					<span>— — 签名者：Garry </span>
				</div>		
			</div>
		</div>
	</div>
</body>
</html>