<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>微称管理平台</title>
	<link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="easyui/demo/demo.css">
	<link rel="stylesheet" type="text/css" href="css/custom/layout.css">
	<script type="text/javascript" src="easyui/jquery.min.js"></script>
	<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
</head>
<body class="easyui-layout">
	<div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;padding:10px"><span class="font-size-title">微称管理平台</span></div>
	<div data-options="region:'west',split:true" title="导航菜单" style="width:150px;padding:10px;">
		<div class="easyui-accordion" data-options="fit:true,border:false">
			<div title="会员管理" style="padding:10px;">
				content1
			</div>
			<div title="商城配置" data-options="selected:true" style="padding:10px;">
				content2
			</div>
			<div title="商品编辑" data-options="selected:true" style="padding:10px;">
				content2
			</div>
			<div title="系统管理" style="padding:10px">
				content3
			</div>
			<div title="短信服务平台" style="padding:10px">
				content3
			</div>
		</div>
	</div>
	<div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">east region</div>
	<div data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">
		<span>记得点赞</span>
	</div>
	<div data-options="region:'center'" title="平台管理">
		<div class="easyui-tabs" data-options="fit:true,border:false,plain:true">
			<div title="首页" data-options="href:'content.html'" style="padding:10px"></div>
			<div title="DataGrid" style="padding:5px">
				<table class="easyui-datagrid"
						data-options="url:'datagrid_data1.json',method:'get',singleSelect:true,fit:true,fitColumns:true">
					<thead>
						<tr>
							<th data-options="field:'itemid'" width="80">用户 ID</th>
							<th data-options="field:'productid'" width="100">用户名称</th>
							<th data-options="field:'listprice',align:'right'" width="80">电话号码</th>
							<th data-options="field:'unitcost',align:'right'" width="80">验证码</th>
							<th data-options="field:'attr1'" width="150">最近使用时间</th>
							<th data-options="field:'status',align:'center'" width="50">使用次数</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</body>
</html>